.homewelcomedashbord {
  background: var(--gradient-dashboard);
}

#tv-attr-logo {
  display: none;
}

.cardsmain {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1650px) {
  .homewelcomedashbord {
    padding: 20px 20px;
  }

  .titlewelcome {
    font-size: 40px !important;
  }

  .midcardselect span {
    font-size: 15px;
  }

  .cardsmain {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1400px) {
  .titlewelcome {
    font-size: 25px !important;
  }
}

@media (max-width: 1300px) {
  .homewelcomedashbord {
    flex-direction: column;
    gap: 10px;
  }

  .cardstats {
    width: 100%;
    justify-content: space-between;
  }

  .cardsmain {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1100px) {
  .columnderdashboard {
    width: 100% !important;
  }

  .dashbordsection {
    flex-direction: column;
  }

  .rigthwelcome {
    gap: 10px !important;
  }

  .midcardselect span {
    font-size: 11px;
  }

  .imageselectwelcome {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 700px) {
  .cardsmain {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-height: 900px) {
  .cardstats {
    height: 80px;
  }

  .iconstat {
    width: 50px !important;
  }

  .valuedatacardstat,
  .iconarrow {
    font-size: 15px !important;
  }

  .valuerevenuecardstat {
    font-size: 12px;
    margin-top: 0 !important;
  }

  .valuelabelcardstat,
  .teamdivnavdashbord,
  .personsinteam span,
  .vertodoteamdashboard {
    font-size: 12px !important;
  }

  .columnderdashboard {
    width: 280px !important;
  }
}

@media (max-height: 900px) and (min-width: 1300px) {
  .cardsmain {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-height: 900px) and (max-width: 1300px) {
  .cardsmain {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-height: 900px) and (max-width: 1100px) {
  .cardsmain {
    grid-template-columns: repeat(1, 1fr);
  }

  .columnderdashboard {
    width: 100% !important;
  }
}
