@font-face {
  font-family: 'Poppins';
  src: url('./src/assets/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--c-bg-color);
}

p,
h3,
h2,
h1 {
  color: var(--text);
}

input[type='color'] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
}

.sidebarthumb {
  &::-webkit-scrollbar {
    width: 3px;
    background: transparent
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--c-card-2);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: var(--c-card-3);
  }
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.bg-content1 {
  background-color: var(--c-card) !important;
  color: var(--c-title);
}

th {
  background: var(--c-card-2) !important;
}

input {
  color: var(--c-title);
}

textarea {
  color: var(--c-title);
}

table {
  color: #71717a;
  svg {
    font-size: 20px;
  }
}
