@font-face {
  font-family: 'Poppins';
  src: url('./src/assets/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: calc(100vh);
  background: #f4f7fe;
}