@font-face {
  font-family: 'Poppins';
  src: url('./src/assets/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
<<<<<<< HEAD

  height: calc(100vh);
=======
  height: 100vh;
>>>>>>> eefdc6cd479d875522f4ff6378b74591fea97200
  background: #f4f7fe;
}