/* 
.dark {
   --text: #dbdbdb;
   --bgColor: black;
   --scrollBg: #4845d2;
   --mainColor: #4845d2;
   --scrollBgHover: #6462e2;
} 
*/
/* .light {
--text: #1B254B;
--bgColor: #f4f7fe;
--scrollBg: #4845d2;
--mainColor: #4845d2;
--scrollBgHover: #6462e2;
 } */

.light {
  --c-title: #71717a;
  --c-bg-color: #ffffff;
  --c-bg-color-2: #ececec;
  --c-primary-sidebar: var(--c-primary-variant-1);
  --c-card: #fff;
  --select: #fff;
  --c-card-2: #fff;
  --c-gray: #cacaca;
  --c-primary-gray: rgba(250, 250, 250, 0.3);
  --c-border: rgba(255, 255, 255, 0.1);
  --c-bg-selected: #e9e9e9;
}

.dark {
  --c-title: #e4e4e4;
  --c-bg-color: #141414;
  --c-bg-color-2: #212124;
  --c-primary-sidebar: #18181b;
  --c-card: #18181b;
  --c-card-2: #2b2b2e;
  --c-gray: #cacaca;
  --c-primary-gray: rgba(250, 250, 250, 0.3);
  --c-border: rgba(250, 250, 250, 0.1);
}



#variantOne {
  --c-primary: #3b82f6;
  --c-primary-hover: #4377ca;
  --c-primary-variant-1: #a0db8e;
  --c-primary-variant-2: #405639;
  --c-primary-variant-3: rgba(160, 219, 142, 0.2);
  --c-primary-variant-4: rgba(111, 155, 97, 0.2);
  --c-primary-route-active: rgb(87, 179, 59);
  --c-primary-route-hover: rgb(68, 99, 59);
  --c-secondary: #f56565;
  --c-primary-hover2: #f7fcff;
}

// #variantOne {
//   --c-primary: #3b82f6;
//   --c-primary-hover: #4377ca;
//   --c-primary-route-active: #1d5dc4;
//   --c-primary-route-hover: #3b82f6;
//   --c-secondary: #f56565;
//   --c-primary-hover2: #f7fcff;
// }

#variantTwo {
  --c-primary: #ef4444;
  --c-primary-hover: #ce2323;
  --c-primary-route-active: #ce2323;
  --c-primary-route-hover: #ef4444;
  --c-secondary: #6b46c1;
  --c-primary-hover2: #f7fcff;
}

#variantThree {
  --c-primary: #721ff7;
  --c-primary-hover: #721ff7;
  --c-primary-route-active: #5c1bc4;
  --c-primary-route-hover: #8132ff;
  --c-secondary: #33bbcf;
  --c-primary-hover2: #f7fcff;
}

#variantFour {
  --c-primary: #ec4899;
  --c-primary-hover: #ec4899;
  --c-primary-route-active: #c62072;
  --c-primary-route-hover: #ec4899;
  --c-secondary: #10b981;
  --c-primary-hover2: #f7fcff;
}

#variantFive {
  --c-primary: #dd872c;
  --c-primary-hover: #ffc266;
  --c-primary-route-active: #c2792a;
  --c-primary-route-hover: #ff9900;
  --c-secondary: #33bbcf;
  --c-primary-hover2: #f7fcff;
}

#variantSix {
  --c-primary: #62b167;
  --c-primary-hover: #669c68;
  --c-primary-route-active: #71bd75;
  --c-primary-route-hover: #71bd75;
  --c-secondary: #f56565;
  --c-primary-hover2: #71bd7570;
}