.dark {
  --text: #dbdbdb;
  --bgColor: black;
  --scrollBg: #4845d2;
  --mainColor: #4845d2;
  --scrollBgHover: #6462e2;
}

.light {
  --text: #313136;
  --bgColor: #f4f7fe;
  --scrollBg: #4845d2;
  --mainColor: #4845d2;
  --scrollBgHover: #6462e2;
}
