/* 
.dark {
   --text: #dbdbdb;
   --bgColor: black;
   --scrollBg: #4845d2;
   --mainColor: #4845d2;
   --scrollBgHover: #6462e2;
} 
*/
/* .light {
--text: #1B254B;
--bgColor: #f4f7fe;
--scrollBg: #4845d2;
--mainColor: #4845d2;
--scrollBgHover: #6462e2;
 } */

.light {
  --c-title: black;
  --c-bg-color: #ffffff;
  --c-bg-color-2: #ececec;
}

.dark {
  --c-title: #fff;
  --c-bg-color: #1c1e24;
  --c-bg-color-2: #202225;
}


#variantOne {
  --c-primary: #3b82f6;
  --c-primary-hover: #4377ca;
  --c-primary-route-active: #3b82f6;
  --c-primary-route-hover: #3b82f6;
  --c-secondary: #f56565;
  --c-primary-hover2: #f7fcff;
}

#variantTwo {
  --c-primary: #ef4444;
  --c-primary-hover: #f7fcff;
  --c-primary-route-active: #ef4444;
  --c-primary-route-hover: #ef4444;
  --c-secondary: #6b46c1;
  --c-primary-hover2: #f7fcff;
}

#variantThree {
  --c-primary: #721ff7;
  --c-primary-hover: #721ff7;
  --c-primary-route-active: #5c1bc4;
  --c-primary-route-hover: #8132ff;
  --c-secondary: #33BBCF;
  --c-primary-hover2: #f7fcff;
}

#variantFour {
  --c-primary: #ec4899;
  --c-primary-hover: #f7fcff;
  --c-primary-route-active: #ec4899;
  --c-primary-route-hover: #ec4899;
  --c-secondary: #10b981;
  --c-primary-hover2: #f7fcff;
}

#variantFive {
  --c-primary: #ff9900;
  --c-primary-hover: #ffc266;
  --c-primary-route-active: #ff9900;
  --c-primary-route-hover: #ff9900;
  --c-secondary: #33BBCF;
  --c-primary-hover2: #f7fcff;
}