*::-webkit-scrollbar {
  width: 1px;
  height: 5px;
  background: transparent
}

*::-webkit-scrollbar-thumb {
  background: var(--c-primary);
  border-radius: 11px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--c-primary-hover);
}
