.gradientTitle {
  background: linear-gradient(270deg, #2fb4cc 0%, #1a20c6 109.55%);
  font-size: 30px;
  user-select: none;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
