// Media query para pantallas más grandes (por ejemplo, más de 768px)
@media (max-width: 1200px) {
  .rowvoicing {
    flex-wrap: wrap;
    width: 100%;
    max-width: none !important;
    justify-content: space-between;
  }
  .compuestinputinvoicing {
    width: 100%;
    max-width: none !important;
  }
}

@media (max-width: 1024px) {

  .compuestinputinvoicing {
    width: 100%;
    max-width: none !important;
    justify-content: start;
  }

  .dateinputinvoicing{
    width: 50%;
    max-width: none !important;
    

  }
}

@media (max-width: 700px) {
    // .inputselectsucursal {
    //     width: 50%;
        
    // }
}
